
.university-importer-item
{
    display: block;
    width: 100%;
    margin-bottom: 1em;
}

.university-importer-subitem
{
    display: inline-block;
}

.university-importer-label
{
    --width: 30%;
    width: var(--width);
    min-width: var(--width);
    max-width: var(--width);
}

.university-importer-nonlabel
{
    --width: 70%;
    width: var(--width);
    min-width: var(--width);
    max-width: var(--width);
}

.university-view-container
{
    --university-view-padding: 1em;
    padding:var(--university-view-padding);
    display: block;
    overflow: hidden;
}

.university-notes-create-button
{
    position: absolute;
    left: 50%;
    bottom: var(--university-view-padding);
    width: calc(100% - var(--university-view-padding) * 2);
    transform: translate(-50%,0);
}
.university-notes-div
{
    width: 100%;
    height: calc(100% - var(--university-view-padding) * 2 - 2em * 4); /*just an estimate*/
    scroll-behavior: auto;
    overflow: auto;
    /* background-color: red; */
}

.university-notes-div button
{
    display: block;
    width: 100%;
    margin-bottom: 0.25em;
}

.university-combobox{
    display: block;
    width: 100%;
    margin-bottom: 1em;
}

.university-navbar-parent {
    list-style-type: none;
    margin:0;
    padding:0;
    width: 100%;
}

.university-navbar-child label, .university-navbar-child-active label{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.university-navbar-child, .university-navbar-child-active{
    --margin: 0.01em;
    display: inline-block;
    position: relative;
    width: calc(100% / 3 - var(--margin) * 2);
    height: 2em;
    margin: var(--margin);
    margin-top: 1em;
    /* text-align: center; */
    border-bottom: 0.2em solid;
    border-bottom-color: rgba(255,255,255,0,5);
}

.university-navbar-child
{
    background-color: rgba(0,0,0,0);
}

.university-navbar-child-active
{
    --university-navbar-item-radius: 0.5em;
    background-color: rgba(0,0,0,0.2);
    border-top-left-radius: var(--university-navbar-item-radius);
    border-top-right-radius: var(--university-navbar-item-radius);
}